<%= form_with(model: job_component, local: true) do |form| %>
  <% if job_component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_component.errors.count, "error") %> prohibited this job_component from being saved:</h2>

      <ul>
      <% job_component.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :job_id %>
    <%= form.collection_select :job_id, Job.all,  :id, :name %>
  </div>

  <div class="field">
    <%= form.label :component_id %>
    <%= form.collection_select :component_id, Component.all,  :id, :name %>
  </div>

  <div class="field">
    <%= form.label :status_id %>
    <%= form.collection_select :status_id, Status.all,  :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
