<p id="notice"><%= notice %></p>

<h1>Job Components</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Component</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_components.each do |job_component| %>
      <tr>
        <td><%= job_component.job.name %></td>
        <td><%= job_component.component.name %></td>
        <td><%= job_component.status.name %></td>
        <td><%= link_to 'Show', job_component %></td>
        <td><%= link_to 'Edit', edit_job_component_path(job_component) %></td>
        <td><%= link_to 'Destroy', job_component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job Component', new_job_component_path %>
