<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @job_component.job.name %>
</p>

<p>
  <strong>Component:</strong>
  <%= @job_component.component.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job_component.status.name %>
</p>

<%= link_to 'Edit', edit_job_component_path(@job_component) %> |
<%= link_to 'Back', job_components_path %>
