<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Employee</th>
      <th>Customer</th>
      <th>Stage</th>
      <th>Status</th>
      <th>Subtotal</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.employee.name %></td>
        <td><%= job.customer.name %></td>
        <td><%= job.stage.name %></td>
        <td><%= job.status.name %></td>
        <td><%= job.subtotal %></td>
        <td><%= job.total %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
