<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @job.employee.name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @job.customer.name %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @job.stage.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job.status.name %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
