/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color:mintcream;
}

.menu {
    margin:0 auto;
    padding:0;
    height:30px;
    width:100%;
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-color:lightblue;
}

.menu li {
    padding:0;
    margin:0;
    list-style:none;
    display:inline;
}

.menu li a {
    float:left;
    padding-left:15px;
    display:block;
    color:rgb(255,255,255);
    text-decoration:none;
    cursor:pointer;
}

.menu li a span {
    line-height:30px;
    float:left;
    display:block;
    padding-right:15px;
}

.menu li a:hover {
    background-position:0px -60px;
    color:cadetblue;
}

.menu li a:hover span {
    background-position:100% -60px;
}

.menu li a.active, .menu li a.active:hover {
    line-height:30px;
    color:blueviolet;
}
