<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <ul class="menu">
      <li><a href="/components"><span>Components</span></a></li>
      <li><a href="/customers"><span>Customers</span></a></li>
      <li><a href="/employees"><span>Employees</span></a></li>
      <li><a href="/jobs"><span>Jobs</span></a></li>
      <li><a href="/job_components"><span>Add Job Components</span></a></li>
      <!--<li><a href="/sales_report"><span>Sales Report</span></a></li>-->
    </ul>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
